<% if @post.errors.any? %>
  <% @post.errors.full_message.each do |msg| %>
<ul>
  <li><%= msg %></li>
</ul>
  <% end %>
<% end %>
<div class="container">
    <!-- <div class="col-md-7"> -->
    <%= simple_form_for @post, class: "form-horizontal" do |f|%>
        <%= f.input :title  %>
        <p><strong>Body </strong><%= f.text_area :body %></p>
    <!-- </div> -->
    <div class="form-group">
        <%= f.label :category %>
        <%= f.collection_select :category_id, Category.all, :id, :title, html: {class: "form-control"}  %>
    </div>
    <div class="form-group">
        <%= f.label :tag_ids %>
        <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
    </div>
    <%= f.submit "Submit Post", class: "btn btn-primary" %>
</div>
  <% end %>
